<form action="/folder" method="POST">
  <fieldset role="group">
    <input type="text" placeholder="Folder name" name="folder" />

    <input type="submit" value="+ Create Folder" />
  </fieldset>
</form>
