<div class="container">
  <nav class="links">
    <ul>
      <li>Created by <strong>Alex Singh</strong></li>
    </ul>
    <ul class="links">
      <li>
        <a href="https://github.com/singhalex/file_upload">
          <img
            src="images/github-mark.png"
            alt="GitHub Logo"
            style="max-height: 1.5rem; padding-right: 0.5rem"
          />
          See code</a
        >
      </li>
    </ul>
  </nav>
</div>
