<form action="/auth/log-in" method="POST">
  <fieldset role="group">
    <input
      type="text"
      name="username"
      placeholder="Username"
      autocomplete="username"
    />
    <input
      type="password"
      name="password"
      placeholder="Password"
      autocomplete="current-password"
    />
    <input type="submit" value="Log In" />
  </fieldset>
</form>
