<article>
  <form action="/folder/<%= folder.id %>/Rename" method="POST">
    <h2>Do you want to rename this folder?</h2>
    <input
      type="text"
      name="newName"
      id="newName"
      placeholder="Enter new folder name"
      value="<%= locals.folderNameValue %>"
    />
    <br />
    <div role="group">
      <a href="/" role="button" class="secondary">Cancel</a>
      <input type="submit" value="Confirm" role="button" />
    </div>
  </form>
  <%- include('show-errors') %>
</article>
