<form
  action="/folder/<%= folder.id %>"
  method="POST"
  enctype="multipart/form-data"
>
  <input type="file" name="file" id="upload" required />
  <input type="submit" name="submit" id="submit" value="Upload File" />
</form>
