<!DOCTYPE html>
<html lang="en">
  <head>
    <title>File Uploader</title>
    <link rel="stylesheet" href="/stylesheets/pico.yellow.min.css" />
  </head>
  <body>
    <main>
      <header></header>
      <div class="container">
        <h1>File Uploader</h1>
        <p>Log In Form</p>
        <%- include('log-in-form') %>
        <p>Sign Up Form</p>
        <!-- Render the Sign Up Form and pass the errors object if it exists -->
        <%- include('sign-up-form', locals.errors ? {errors} : null) %>
      </div>
      <footer></footer>
    </main>
  </body>
</html>
