<!DOCTYPE html>
<html lang="en">
  <head>
    <title>File Uploader</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>File Uploader</h1>
    <p>Log In Form</p>
    <%- include('log-in-form') %>

    <p>Sign Up Form</p>
    <%- include('sign-up-form') %>
  </body>
</html>
