<form action="/auth/log-in" method="POST">
  <fieldset role="group">
    <input type="text" name="username" placeholder="Username" />
    <input type="text" name="password" placeholder="Password" />
    <input type="submit" value="Log In" />
  </fieldset>
</form>
