<form action="/auth/log-in" method="POST">
  <label for="username">Username</label>
  <input type="text" name="username" placeholder="Username" />

  <label for="password">Password</label>
  <input type="text" name="password" placeholder="Password" />

  <input type="submit" value="Log In" />
</form>
