<form action="/auth/sign-up" method="POST">
  <label for="username">Username</label>
  <input
    type="text"
    name="username"
    placeholder="Username"
    value="<%= locals.usernameValue %>"
    required
  />

  <label for="password">Password</label>
  <input
    type="text"
    name="password"
    placeholder="Password must be at least 4 characters"
    required
  />

  <label for="confirm">Confirm</label>
  <input
    type="text"
    name="confirm"
    placeholder="Re-enter your password"
    required
  />

  <input type="submit" value="Sign Up" />
</form>
